body{
  font-family: sans-serif;
  text-align: center;
  background-color: rgb(229, 231, 235);
}

h1, p{
  color: rgb(77, 79, 82);
}

.gallery{
    display: inline-block;
    margin: 10px;
    width: 250px;
    height: 300px;
    overflow: hidden;
}

.one{
  background-image: url("../img/san-francisco.jpg");
  background-size: cover;
  background-position: center;
}

.two{
  background-image: url("../img/new-york.jpg");
  background-size: cover;
  background-position: center;
}

.three{
  background-image: url("../img/london.jpg");
  background-size: cover;
  background-position: center;
}

.four{
  background-image: url("../img/napa.jpg");
  background-size: cover;
  background-position: center;
}

.five{
background-image: url("../img/sonoma.jpg");
background-size: cover;
background-position: center;
}

.six{
  background-image: url("../img/san-francisco-2.jpg");
  background-size: cover;
  background-position: center;
}

.city{
  color:white;
  font-size: 2rem;
  margin-top: 50%;
}

button{
  background-color: white;
  border: solid black 1px;
  display: block;
  margin: 40px auto;
  padding: 10px 30px;
}